# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
backend/node_modules/
jspm_packages/

# Vite / React compile outputs
dist/
dist-ssr/
build/
*.tsbuildinfo

# Backend Uploads (Ignore images, but keep directory)
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables (Crucial for security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
